# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.vr-tests.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jonas\Spel\vr-tests\.idea\.idea.vr-tests\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
